/* SMS login styles */

.smsInstructions {
    margin-top: 28px;
}

.smsDisclaimer {
    color: #5c727d;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 24px;
}

.telInput {
    display: flex;
    margin-top: 20px;
    white-space: nowrap;
}


.flag {
    background: url('/stars-and-stripes.png') no-repeat scroll 8px 16px;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.phoneNumber {
    border-left: none;
    border-radius: 0 3px 3px 0;
    padding-left: 0;
    flex-grow: 1;
    font-size: 18px;
    width: calc(100%);
}